* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.main-container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 5fr;
    grid-template-rows: 1fr 7fr;
}

.sidebar {
    background-color: #fe7f39;

    grid-row: 1 / 3;
    display: grid;
    align-content: start;
    gap: 2em;
    padding: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 7px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;

    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 15px;
}

.nav img,
.subnav img,
.user-info img,
.searchbox img {
    width: 1.2em;
}

.title {
    font-size: 1.3em;
}

.header {
    background-color: rgb(255, 255, 255);
    padding: 5px;

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;

    z-index: 1;
}

.header > *:nth-child(2),
.header > *:nth-child(4) {
    margin-right: 20px;
}

.header,
.project-cards > div,
.announcements > div,
.trending > div {
    box-shadow: 1px 3px 4px #b1b1b1;
}

.searchbox input {
    height: 25px;
    margin-left: 20px;
    padding-left: 10px;

    background-color: #e6eef8;

    border-radius: 20px;
    border: none;
}

.user-info,
.searchbox {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
}

.searchbox {
    gap: 0;
    grid-template-columns: minmax(150px, 7fr) 1fr;
}

.searchbox button {
    border: none;
    background-color: #ffffff;

    width: 40px;
    padding: 5px;
    font-size: 1.2em;

    display: grid;
}

.greeting {
    margin: none;
    padding: none;
    margin-left: 20px;
    line-height: 5px;
}

.greeting p {
    font-size: 0.8em;
}

.greeting h1 {
    font-size: 1.3em;
}

.user-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    justify-items: stretch;
}

.user-buttons button {
    height: 30px;
    max-width: 80px;
    min-width: min-content;
    color: #ffffff;
    background-color: #fe7f39;
    border: none;
    border-radius: 15px;
}

.main-content {
    background-color: #e6eef8;
    display: grid;
    grid-template: 1fr 1fr / minmax(min-content, 5fr) minmax(min-content, 1.5fr);

    padding-top: 10px;
    padding-right: 15px;
}

.main-content h1 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.main-content h2 {
    font-size: 1em;
    margin-bottom: 3px;
}

.projects {
    grid-row: 1 / 3;
    margin-left: 15px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-right: 10px;
}

.project-cards > div {
    padding: 15px;
    padding-top: 5px;
}

.project-cards > div { 
    background: linear-gradient(90deg, rgba(255,168,106,1) 5px, rgba(255,255,255,1) 5px); 
}

.project-cards > div,
.announcements > div,
.trending > div {
    background-color: #ffffff;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.announce:first-child {
    padding-top: 5px;
}

.announce:last-child,
.people:last-child {
    padding-bottom: 25px;
}

.announce,
.people {
    margin: 0px 14px;
}

.announce h2 {
    font-size: 0.9em;
}

.announce p,
.people {
    font-size: 0.8em;
}

.trending-card {
    padding-top: 20px;

    display: grid;
    gap: 15px;
}

.line {
    height: 1px;
    background-color: #b1b1b1;
    margin: 0 10px;
}

.card p,
.announce p,
.people span {
    color: #6e6e6e;
}

.card p {
    font-size: 0.9em;
}